/*CUSTOM FONTS*/
@font-face {
  font-family: "OpenSans";
  src: url("../../vendors/fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "SourceSans";
  src: url("../../vendors/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansBold";
  src: url("../../vendors/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Varela";
  src: url("../../vendors/fonts/Varela/Varela-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Poppins";
  src: url("../../vendors/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../../vendors/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Delius";
  src: url("../../vendors/fonts/Delius/Delius-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ABeeZee";
  src: url("../../vendors/fonts/ABeeZee/ABeeZee-Regular.ttf") format("truetype");
}